{% extends 'base.html' %}
{% block content %}
    <br><br><br><br><br>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6"><h1>{{ exception }}</h1></div>
        <div class="col-lg-3"></div>
    </div>
    <br><br><br><br><br>
{% endblock content %}