{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
    <div class="panel-heading">
        <h2 align="center">Изменение контакта</h2>
    </div>
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
{#            <div class="row">#}
{#                {% bootstrap_field form.name size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.organization size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.post size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.email size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.short_name size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.web_page size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.phone size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.home_phone size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.work_phone size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.adres size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.fax size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.mail_adres size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.is_mail_adres size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.photo size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div><br>#}
{#            <div class="row">#}
{#                {% bootstrap_field form.details size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}#}
{#            </div>#}
{#            <br>#}
            {% bootstrap_form form %}
            <div class="row">
                <button type="submit" class="btn btn-primary col-md-5 col-md-offset-1">
                    <span class="glyphicon glyphicon-floppy-saved"></span> Сохранить
                </button>
                <a href="{% url 'contacts_main_page' %}" class="btn btn-primary col-md-4 col-md-offset-1">
                    <span class="glyphicon glyphicon-step-backward"></span>Вернуться к списку
                </a>
            </div>
        </form>
    </div>
{% endblock content %}