{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel-heading">
        <h1 align="center">Просмотр контакта</h1>
    </div>
    <div class="panel-body">
        <div class="panel-body col-md-offset-1 col-md-5">
{#            <strong>ID:</strong> {{ contact.contact_id }}<br>#}
            <strong>ФИО:</strong> {{ contact.name }}<br>
            <strong>Организация:</strong> {{ contact.organization }}<br>
            <strong>Должность:</strong> {{ contact.post }}<br>
            <strong>Эл.Почта:</strong> {{ contact.email }}<br>
            <strong>Короткое ФИО:</strong> {{ contact.short_name }}<br>
            <strong>Веб страница:</strong> {{ contact.web_page }}<br>
            <strong>Телефон:</strong> {{ contact.phone }}<br>
            <strong>Дом.телефон:</strong> {{ contact.home_phone }}<br>
            <strong>Раб.телефон:</strong> {{ contact.work_phone }}<br>
            <strong>Адрес:</strong> {{ contact.adres }}<br>
            <strong>Факс:</strong> {{ contact.fax }}<br>
            <strong>Почтовый адрес:</strong> {{ contact.mail_adres }}<br>
            <strong>Считать почтовым:</strong>{% if contact.is_mail_adres %} Да {% else %} Нет {% endif %}<br>
            <strong>Описание:</strong> {{ contact.details }}<br>
        </div>
        <div class="panel-body col-md-offset-1 col-md-5">
            {% if contact.photo %}
            <strong>Фото:</strong>
            <br>
            <img src="{{ MEDIA_URL }}/{{ contact.photo }}" width=300 height=300><br>
            {% endif %}
        </div>
        <a href="{% url 'contacts_main_page' %}" class="btn btn-primary col-md-4 col-md-offset-4">
            <span class="glyphicon glyphicon-step-backward"></span>Вернуться к списку
        </a>
    </div>
{% endblock content %}