{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel-heading">
        <h2 align="center">Добавление контакта</h2>
    </div>
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="row">
                <button type="submit" class="btn btn-primary col-md-5 col-md-offset-1">
                    <span class="glyphicon glyphicon-floppy-saved"></span> Сохранить
                </button>
                <a href="{% url 'contacts_main_page' %}" class="btn btn-primary col-md-4 col-md-offset-1">
                    <span class="glyphicon glyphicon-step-backward"></span>Вернуться к списку
                </a>
            </div>
        </form>
    </div>
{% endblock content %}