{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel-heading">
        <h1 align="center">Контакты</h1>
    </div>
    <div class="panel-body">
        <div class="row panel-body">
            <button type="button" class="col-md-offset-0 col-md-3 btn-primary btn" data-toggle="modal"
                    data-target="#myModalXML"
                    title="Удалить">
                <span class="glyphicon glyphicon-import"> </span> Загрузить xml файл для импорта
            </button>
            <!-- Modal content-->
            <div class="modal fade" id="myModalXML" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Выберите нужный XML файл</h4>
                        </div>
                        <form method="POST" action="{% url 'upload_xml' %}" enctype="multipart/form-data">
                            <div class="modal-body">
                                {% csrf_token %}
                                <input type="file" name="xmlfile">
                            </div>
                            <div class="modal-footer">
                                <button type="submit"
                                        class="btn btn-primary">
                                    Подтвердить
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Закрыть
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal -->

            <a href="{% url 'contacts_import' %}" class="col-md-offset-1 col-md-2 btn-primary btn">
                <span class="glyphicon glyphicon-import"> </span>
                Импорт
            </a>
            <a href="{% url 'contacts_export' %}" class="col-md-offset-1 col-md-2 btn-primary btn">
                <span class="glyphicon glyphicon-export"> </span>
                Экспорт
            </a>
            <button type="button" class="col-md-offset-1 col-md-2 btn-primary btn" data-toggle="modal"
                    data-target="#myModalMain"
                    title="Удалить">
                <span class="glyphicon glyphicon-trash"> </span> Удалить все
            </button>
            <br><br><br>

            <a href="{% url 'contacts_add' %}" class="col-md-offset-0 col-md-3 btn-primary btn">
                <span class="glyphicon glyphicon-plus"> </span>
                Добавить контакт
            </a>
            <!-- Modal content-->
            <div class="modal fade" id="myModalMain" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Подтвердите действие</h4>
                        </div>
                        <div class="modal-body">
                            <p>Вы уверены что хотите удалить все контакты?</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ row.pk }}">
                                <a href="{% url 'delete_all' %}"
                                   class="btn btn-primary"
                                   data-toggle="tooltip" data-placement="top" title="Удалить">
                                    Удалить
                                </a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Закрыть
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
        </div>
        <br>
        <table class="table table-bordered table-striped datatable">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Организация</th>
                <th>Эл.Почта</th>
                <th>Короткое ФИО</th>
                <th>Телефон</th>
                <th>Адрес</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for row in contacts %}
                <tr>
                    <td>{{ row.name|truncatechars:100 }}</td>
                    <td>{{ row.organization|truncatechars:100 }}</td>
                    <td>{{ row.email|truncatechars:100 }}</td>
                    <td>{{ row.short_name|truncatechars:100 }}</td>
                    <td>{{ row.phone|truncatechars:100 }}</td>
                    <td>{{ row.adres|truncatechars:100 }}</td>
                    <td>
                        <div align="center">
                            <a href="{% url 'contacts_detail' pk=row.pk %}" class="btn btn-primary"
                               title="Просмотр контакта">
                                <span class="glyphicon glyphicon-user"> </span>
                            </a>
                            <a href="{% url 'contacts_edit' pk=row.pk %}" class="btn btn-primary"
                               title="Изменение контакта">
                                <span class="glyphicon glyphicon-pencil"> </span>
                            </a>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#myModal{{ row.pk }}"
                                    title="Удалить">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </button>
                        </div>

                        <!-- Modal content-->
                        <div class="modal fade" id="myModal{{ row.pk }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                                data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Подтвердите действие</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Вы уверены что хотите удалить?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ row.pk }}">
                                            <a href="{% url 'contacts_delete' pk=row.pk %}"
                                               class="btn btn-primary"
                                               data-toggle="tooltip" data-placement="top" title="Удалить">
                                                Удалить
                                            </a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Закрыть
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}