{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel-body">
        {{ xml }}
        <a href="{% url 'contacts_main_page' %}" class="btn btn-primary col-md-4 col-md-offset-4">
            <span class="glyphicon glyphicon-step-backward"></span>Вернуться к списку
        </a>
    </div>
{% endblock content %}