{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
        <div class="panel-heading">
            <h2 align="center">Добавление новой связи рыбы и наживки</h2>
        </div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    {% bootstrap_field form.fish size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    {% bootstrap_field form.bait size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-primary col-md-5 col-md-offset-1">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Сохранить
                    </button>
                    <a href="{% url 'fishbait' %}" class="btn btn-primary col-md-4 col-md-offset-1">
                        <span class="glyphicon glyphicon-step-backward"></span>Вернуться к списку связей
                    </a>
                </div>
            </form>
        </div>
{% endblock content %}