{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
        <div class="panel-heading">
            <h2 align="center">Добавление нового вида</h2>
        </div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    {% bootstrap_field form.name size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    {% bootstrap_field form.start_fishing_date size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    {% bootstrap_field form.finish_fishing_date size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    {% bootstrap_field form.start_spawning_date size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    {% bootstrap_field form.finish_spawning_date size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    {% bootstrap_field form.start_fishing_time size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    {% bootstrap_field form.finish_fishing_time size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row">
                    {% bootstrap_field form.description layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-10' %}
                </div>
                <br>
                <div class="row" align="center">
                    {% bootstrap_field form.is_red %}
                </div>
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-primary col-md-5 col-md-offset-1">
                        <span class="glyphicon glyphicon-floppy-saved"></span> Сохранить
                    </button>
                    <a href="{% url 'main' %}" class="btn btn-primary col-md-4 col-md-offset-1">
                        <span class="glyphicon glyphicon-step-backward"></span>Вернуться к списку
                    </a>
                </div>
            </form>
        </div>
{% endblock content %}