{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel-heading">
        <h2 align="center">Подробно о рыбе: "{{ fish.name }}"</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <a href="{% url 'main' %}" class="btn btn-primary col-md-4 col-md-offset-4">
                <span class="glyphicon glyphicon-step-backward"></span>Вернуться к списку
            </a>
        </div>
        <div class="container col-md-offset-1 clo-md-10">
            <br>
            <div class="row">
                <div class=" col-md-12">
                <b>Название: </b>
                {{ fish.name }}
                    </div>
            </div>
            <br>
            <div class="row">
                <div class=" col-md-6">
                    <b>Дата начала клева:</b>
                    {{ fish.start_fishing_date.day }} {{ start_fishing_date }}
                </div>

                <div class=" col-md-6">
                    <b> Дата конца клева:</b>
                    {{ fish.finish_fishing_date.day }} {{ finish_fishing_date }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" col-md-6">
                    <b>Дата начала нереста:</b>
                    {{ fish.start_spawning_date.day }} {{ start_spawning_date }}
                </div>

                <div class=" col-md-6">
                    <b> Дата конца нереста:</b>
                    {{ fish.finish_spawning_date.day }} {{ finish_spawning_date }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" col-md-6">
                    <b>Время начала лова:</b>
                    {{ fish.start_fishing_time }}
                </div>

                <div class=" col-md-6">
                    <b> Время конца лова:</b>
                    {{ fish.finish_fishing_time }}
                </div>
            </div>
            <br>
            <div class="row col-md-12">
                <b>Красная:</b>
                {% if fish.is_red %}
                    Да
                {% else %}
                    Нет
                {% endif %}
            </div>

            <div class="row col-md-12">
                <br>
                <b>Фото:</b>
                Нет
            </div>
            {% if bait %}
                <div class="row col-md-12">
                <br>
                    <b>Ловиться на:</b>
                    {% for row in bait %}
                        <br>
                        {{ row.bait.title }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if lure %}
                <div class="row col-md-12">
                <br>
                    <b>Для прикормки используют:</b>
                    {% for row in lure %}
                        <br>
                        {{ row.lure.title }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row col-md-12">
                <br>
                <b>Описание:</b>
            </div>
        </div>
        <br>
        <style>p {text-indent: 50px;}</style>
        <div class="row"><p>{{ fish.description }}</p></div>
        <br><br><br><br>
    </div>
{% endblock content %}