{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel-heading">
        <h2 align="center">Прикормка</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'add_lure' %}" class="btn btn-primary col-md-10 col-md-offset-1">
                    <span class="glyphicon glyphicon-plus"></span>Добавить новый вид прикормки
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'fishlure' %}" class="btn btn-primary col-md-10 col-md-offset-1">
                    <span class="glyphicon glyphicon-resize-horizontal"></span> Связать прикормки с видом рыбы
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'main' %}" class="btn btn-primary col-md-10 col-md-offset-1">
                    <span class="glyphicon glyphicon-step-backward"></span>Вернуться к списку видов рыбы
                </a>
            </div>
        </div>

        <br>
        <table class="table table-bordered table-striped datatable">
            <thead>
            <tr>
                <th>Название</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for row in lure %}
                <tr>
                    <td>
                        {{ row.title|truncatechars:100 }}
                    </td>
                    <td>
                        <div align="center">
                            <a href="{% url 'edit_lure' pk=row.pk %}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"> </span>
                            </a>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#myModal{{ row.pk }}"
                                    title="Удалить">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </button>
                        </div>

                        <!-- Modal content-->
                        <div class="modal fade" id="myModal{{ row.pk }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                                data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Подтвердите действие</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Вы уверены что хотите удалить?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ doc.document_type.link_to_delete_doc }}">
                                            <a href="{% url 'delete_lure' pk=row.pk %}"
                                               class="btn btn-primary"
                                               data-toggle="tooltip" data-placement="top" title="Удалить">
                                                Удалить
                                            </a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Закрыть
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}