{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel-heading">
        <h2 align="center">Справочник рыболова</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-12"><a href="{% url 'add_fish' %}" class="btn btn-primary col-md-10 col-md-offset-1">
                <span class="glyphicon glyphicon-plus"></span>Добавить новый вид рыбы</a>
            </div>
            <div class="col-md-4 col-sm-12">
                <a href="{% url 'lure' %}" class="btn btn-primary col-md-10 col-md-offset-1">
                    <span class="glyphicon glyphicon-list"></span> К списку прикормок
                </a>
            </div>
            <div class="col-md-4 col-sm-12">
                <a href="{% url 'bait' %}" class="btn btn-primary col-md-10 col-md-offset-1">
                    <span class="glyphicon glyphicon-list"></span> К списку наживок
                </a>
            </div>
        </div>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                {% bootstrap_field form.fishing_date size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-4' %}
                {% bootstrap_field form.fl %}
            </div>
            <div>
                {% bootstrap_field form.spawning_date size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-4' %}
                {% bootstrap_field form.fl3 %}
            </div>
            <div class="row">
                {% bootstrap_field form.fishing_time size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-4' %}
                {% bootstrap_field form.fl2 %}
            </div>
            <div>
                {% bootstrap_field form.bait size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-4' %}
                {% bootstrap_field form.lure size="small" layout="horizontal" horizontal_label_class='col-md-2' horizontal_field_class='col-md-4' %}
            </div>
            <br><br>
            <button type="submit" class="button btn-primary col-md-4 col-md-offset-4">Применить</button>
        </form>
        <br>
        <table class="table table-bordered table-striped datatable">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for row in fish %}
                <tr>
                    <td>
                        <a href="{% url 'detail_fish' pk=row.pk %}">
                            {{ row.name|truncatechars:100 }}
                        </a>
                    </td>
                    <td>{{ row.description|truncatechars:200 }}</td>
                    <td>
                        <div align="center">
                            <a href="{% url 'edit_fish' pk=row.pk %}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"> </span>
                            </a>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#myModal{{ row.pk }}"
                                    title="Удалить">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </button>
                        </div>

                        <!-- Modal content-->
                        <div class="modal fade" id="myModal{{ row.pk }}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                                data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Подтвердите действие</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Вы уверены что хотите удалить?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ doc.document_type.link_to_delete_doc }}">
                                            <a href="{% url 'delete_fish' pk=row.pk %}"
                                               class="btn btn-primary"
                                               data-toggle="tooltip" data-placement="top" title="Удалить">
                                                Удалить
                                            </a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Закрыть
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}